.container { 
    display:grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 5em;
    grid-column-gap: 5em;
}

#userTable {
    font-size: 17px;
}

.settings {
    display:grid;
    size: 5%;
}

button.link {
    background: none;
    border: none;
}

div.header{
    text-align: center;
}

#channelButton {
    color: purple;
}

#groupButton {
    color: green;
}