.container { 
    display:grid;
    grid-template-columns: auto auto;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
}

.messagecontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2.5px;
    height: 300px;
}
#userTable {
    font-size: 17px;
}

.settings {
    display:grid;
    size: 5%;
}

.list {
    overflow: auto;
    background-color: rgb(107, 107, 107);
    border: 2px solid rgb(122, 122, 122);
    height: auto;
    width: auto;
}


button.link {
    background: none;
    border: none;
}

div.header{
    text-align: center;
}

#channelButton {
    color: rgb(255, 0, 221);
}

#groupButton {
    color:rgb(30, 255, 0);
}
#user{
    color: gold;
}
.input {
    display:grid;
    grid-template-columns: 85px auto 50px; 
}
#chat-box {
    height:300px;
    width: auto;
    overflow: auto;
    background-color:rgb(46, 45, 45); 
    border: 2px solid rgb(92, 92, 92);
}

#msg_area{

}
th {
    color:white;
}

#usermsg {
    color:white;
    width: auto;
    word-wrap:break-word;
    font-size: 12px;
}


h4 {
    color:white;
}