.container { 
    display:grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 5em;
    grid-column-gap: 5em;
}

#userTable {
    font-size: 17px;
}

.settings {
    display:grid;
    size: 5%;
}

button.link {
    background: none;
    border: none;
}

div.header{
    text-align: center;
}

#channelButton {
    color: rgb(255, 0, 221);
}

#groupButton {
    color:rgb(30, 255, 0);
}
#user{
    color: gold;
}
#chat-box {
    height: 300px;
    overflow: auto;
    background-color:rgb(46, 45, 45); 
}

th {
    color:white;
}