<div class="container">
  <div id="header">
      <h2 style="color:white">Welcome, {{username}}</h2>
      <button (click)="logout()">Logout</button>
      &nbsp;
      <button (click)="showSettings('user')">User Settings</button>
      &nbsp;  
      <button *ngIf="userHasPermission" (click)="showSettings('group')">Group Settings</button>
      &nbsp;
      <button *ngIf="userHasPermission" (click)="showSettings('channel')">Channel Settings</button>
  </div>
  <div></div>
  <div class="messagecontainer">
    <div id="groupList" class="list">
      <div *ngFor="let group of groups" id="groupButton" (click)="displayChannels(group)" class="accordion">
          &nbsp;{{group}}
        <div *ngFor="let channel of channels" id="channelButton" class="accordion">
          <div *ngIf="channel.group_name == group" (click)="joinChannel(channel.channel_name)">
            &nbsp;&nbsp;&nbsp;&nbsp;{{channel.channel_name}}
          </div>
        </div>
      </div>
    </div>

    <div id="msg_area">
        <div *ngIf="inChannel" id="channelJoinedDiv"><div id="channelJoinedText">
            {{inChannel}}
          </div></div>
        <div  id="chat-box">
          <div id="msg_box">
            <div id="usermsg"  *ngFor='let msg of messages'>
              <div *ngIf="msg.type == 'message'"><p style="font-size: 10px;color:gold"><br>&nbsp;&nbsp;{{msg.user}}</p>&nbsp;&nbsp;{{msg.text}}</div>
              <div *ngIf="msg.type =='announcement'"><br>&nbsp;{{msg.text}}</div>
            </div>
          </div>
        </div>
        <div class="input">
          <div><input type='file' style="width: 85px;"></div>
          <div><input  style="width:100%;" [(ngModel)]="message" type="text" placeholder=" enter message"></div>
          <div> <button  style="width: 50px" (click)="sendMessage()">Send</button></div>
        </div>

  </div>
  <div id="channelUserList" class="list">
    <table style="border: none;background-color: none;">
      <tr *ngFor="let user of channelUsers">
        <td><img style="width: 20px;height: 20px;" *ngIf="user.image" src="images//{{user.image}}"></td>
        <td style="color:white;">{{user.username}}</td>
      </tr>
    </table>
  </div>
  </div>
  <div class="settings">
      <app-channel-settings *ngIf="settingsSelect == 'channel'"></app-channel-settings>
      <app-group-settings *ngIf="settingsSelect == 'group'"></app-group-settings>
      <app-user-settings  *ngIf="settingsSelect == 'user'"></app-user-settings>
  </div>
</div> 

  

