 <div style="display:grid;">
  <div>
    Modify Permissions<br><br>

    User:&nbsp;&nbsp;<select [(ngModel)]="userSelected" class="selection">
        <option *ngFor="let user of users" [value]="user">{{user}}</option>
    </select><br> 
    Permissions:&nbsp;&nbsp;<select [(ngModel)]="permissionSelected" class="selection">
        <option *ngFor='let permission of userPermissions' [value]="permission">{{permission}}</option>
        </select><br>
    <button *ngIf="userSelected && permissionSelected"  (click)="changeUserPermissions()">Confirm</button>
  </div><br><br>
  <div>
    Create user<br><br>
    <input type="text" [(ngModel)]="newUsername" placeholder="username"><br><br>
    <input type='email' [(ngModel)]="newUserEmail" placeholder="email">&nbsp;&nbsp;
    <button *ngIf="newUsername && newUserEmail" (click)="createUser()">Confirm</button>
  </div>
  <div *ngIf="superUser">
    <br>Delete user<br><br>
    User : 
    <select [(ngModel)]="userDelete">
      <option *ngFor="let user of users" [value]='user'>{{user}}</option>
    </select> &nbsp;<button (click)="deleteUser()">Confirm</button>
  </div>
</div>